<div
  class="flex flex-col items-center p-5 h-full sm:w-full md:w-1/2 justify-center text-center bg-white shadow-lg m-4 p-4"
>

  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-24 w-24 text-yellow-800"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      ></path>
    </svg>
    <span class="text-yellow-800 text-2xl font-bold">404</span>
  </div>

  <h1 class="mt-5 mb-5 text-lg font-bold">Page Not Found!</h1>

  <a href="/">
    <button
      class="bg-blue-800 text-white p-5 rounded-md shadow-md hover:bg-blue-400"
    >
      Go Home
    </button>
  </a>
</div>